<div class="container-fluid mb-5">
    <div class="row mb-5">
      <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
        <div class="nga-card">
          <h1 class="h5 card-header text-center py-4">
            <i class="fas fa-user-plus me-4"></i><strong>S'inscrire</strong>
          </h1>
          <div class="card-body px-lg-5 pt-4">
            <form>
              <div class="form-row">
                <div class="col">
                  <div class="md-form mb-2">
                    <div class="form-floating">
                      <input type="name" class="form-control form-control-sm" formControlName="name" id="name"
                        placeholder="">
                      <label for="floatingInput">Nom</label>
                    </div>
                  </div>
                  <div class="md-form mb-2">
                    <div class="form-floating">
                      <input type="email" class="form-control form-control-sm" formControlName="email" id="email"
                        placeholder="">
                      <label for="floatingInput">Email</label>
                    </div>
                  </div>
                  <div class="md-form mb-2">
                    <div class="form-floating">
                      <input type="password" class="form-control form-control-sm" formControlName="password"
                        id="password" placeholder="">
                      <label for="floatingInput">Mot de passe</label>
                    </div>
                  </div>
                  <div class="md-form mb-2">
                    <div class="form-floating">
                      <input type="confirmPassword" class="form-control form-control-sm"
                        formControlName="confirmPassword" id="confirmPassword" placeholder="">
                      <label for="floatingInput">Confirmer</label>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" formControlName="newsletter" class="form-check-input" id="newsletter"
                      name="newsletter">
                    <label class="form-check-label" for="newsletter">S'inscrire à la newsletter</label>
                  </div>
                  <button class="w-100 btn nga-btn nga-btn-primary mb-4" type="submit">
                    S'inscrire
                    <i class="fas fa-user-plus"></i>
                  </button>
                  <hr>
                  <p class="text-center">En cliquant sur
                    <em>connexion</em> vous êtes en accord
                    <a routerLink="/policy" class="text-primary">avec les termes de service</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>