<div class="row pt-1 mb-2">
  <div class="col-md-3 text-center mb-2">
    <h1 class="h5">
      <i class="fas fa-laptop fa-lg mr-2 text-primary"></i>
      {{ name }}
      <i class="fas fa-mobile-alt fa-lg ml-2 mr-1 text-primary"></i>
      <i class="fas fa-tablet-alt fa-lg ml-2 mr-1 text-primary"></i>
    </h1>
  </div>
  <div class="col-md-3 text-center text-danger">
    <h2 class="h5">
      {{ angular }}<i class="fab fa-angular fa-lg ml-2 mr-1 text-danger"></i>
    </h2>
  </div>
  <div class="col-md-3 text-center text-primary">
    <h2 class="h5">
      {{ bootstrap }}<i class="fab fa-bootstrap fa-lg ml-2 mr-1 text-primary"></i>
    </h2>
  </div>
  <div class="col-md-3 text-center text-warning">
    <h2 class="h5">
      {{ fontawesome }}<i class="fab fa-font-awesome-flag fa-lg ml-2 mr-1 text-warning"></i>
    </h2>
  </div>
</div>
<hr>
<div class="row mb-1">
  <div class="col-md-12 text-center">
    <h3 class="h6">Features&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
  </div>
</div>

<!--<div class="row pt-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2" *ngFor="let item of features">
    <div class="card bg-light mb-3">
      <a routerLink="/{{ item.link }}">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">{{ item.name }}</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="{{ item.icon }} fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ item.description }}</p>
        </div>
      </a>
    </div>
  </div>
</div>-->


<div class="row pt-2 pb-4">
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4" *ngFor="let item of features">
    <div class="card card-cascade">
      <div class="card-img">
        <a routerLink="/{{ item.link }}">
          <img class="card-img-top" src="./assets/params/images/showcase/{{ item.image }}" alt="Card image cap">
        </a>
      </div>
      <div class="card-body pt-0">
        <h6 class="card-title">
          <span style="font-size: 14px;"><strong>{{ item.description }}
            </strong></span>
        </h6>
      </div>
    </div>
  </div>
</div>




<!--<div class="row pt-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2" *ngFor="let feature of features">
      <div class="card bg-light mb-3">
        <a routerLink="/{{ feature.link }}">
          <div class="card-header">
            <div class="row">
              <div class="col-10 col-xl-10">
                <h5 class="card-title">{{ feature.name }}</h5>
              </div>
              <div class="col-2 col-xl-2">
                <i class="fas {{ feature.icon }} fa-lg text-primary"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{ feature.description }}</p>
          </div>
        </a>
      </div>
    </div>
  </div> -->
<!--  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <a routerLink="/bootstrap-components">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">Bootstrap Components</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fab fa-bootstrap fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Bootstrap Components Description</p>
        </div>
      </a>
    </div>
  </div>  
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-10 col-xl-10">
            <h5 class="card-title">Components Title</h5>
          </div>
          <div class="col-2 col-xl-2">
            <i class="fas fa-share-alt-square fa-lg text-primary"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Components Description</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-10 col-xl-10">
            <h5 class="card-title">Services Title</h5>
          </div>
          <div class="col-2 col-xl-2">
            <i class="far fa-address-card fa-lg text-primary"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Services Description</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-10 col-xl-10">
            <h5 class="card-title">Directives Title</h5>
          </div>
          <div class="col-2 col-xl-2">
            <i class="fas fa-text-width fa-lg text-primary"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Directives Description</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-10 col-xl-10">
            <h5 class="card-title">Pipes Title</h5>
          </div>
          <div class="col-2 col-xl-2">
            <i class="fas fa-code fa-lg text-primary"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Pipes Description</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-10 col-xl-10">
            <h5 class="card-title">Observables Title</h5>
          </div>
          <div class="col-2 col-xl-2">
            <i class="far fa-comment-alt fa-lg text-primary"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">Observables Description</p>
      </div>
    </div>
  </div> -->
