<div class="row">
  <div class="col-md-12 text-center">
    <div class="row pt-1 mb-2">
      <div class="col-md-4 text-center mb-2">
        <h1 class="h5">
          <i class="fab fa-android fa-lg mr-2 text-primary"></i>
          {{ title }}<i class="fab fa-apple fa-lg ml-2 mr-1 text-primary"></i>
        </h1>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="h5">{{angular}}&nbsp;&nbsp;<img src="./assets/params/images/logo/angular.png" width="36" height="36"
            alt=""></h2>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="h5">{{bootstrap}}&nbsp;&nbsp;<img src="./assets/params/images/logo/bootstrap.png" width="28"
            height="28" alt=""></h2>
      </div>
    </div>
    <hr>
    <div class="row mb-1">
      <div class="col-md-12 text-center">
        <h3 class="h6">Features&nbsp;&nbsp;<i class="fas fa-list"></i></h3>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <div class="row">
              <div class="col-10 col-xl-10">
                <h5 class="card-title">HttpClient</h5>
              </div>
              <div class="col-2 col-xl-2">
                <i class="far fa-images fa-lg text-primary"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <a routerLink="/items">
              <p class="card-text">Test du module HttpClient</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>