# --- Node.js / JavaScript / TypeScript ---
**/node_modules/
**/.history/
**/dist/
**/coverage/
**/logs/
**/data/logs/
**/package-lock.json

# --- Java (Eclipse, compilation, IDE, build tools) ---
**/bin/                      # Fichiers compilés (Eclipse)
**/out/                      # Dossier de sortie (parfois utilisé)
**/*.class                   # Fichiers de classes compilés
**/.classpath
**/.project
**/.settings/

# --- Jar, war, etc ---
**/*.jar
**/*.war
**/*.ear

# --- OS / IDE général ---
**/.DS_Store
**/Thumbs.db
