<div *ngIf="csvData">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of csvData.split('\n')[0].split(',')">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of csvData.split('\n').slice(1)">
        <td *ngFor="let cell of row.split(',')">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
</div>


<!--
<input type="file" (change)="onFileSelected($event)">
<div *ngIf="csvData.length > 0">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of csvData[0]">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of csvData.slice(1)">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
</div>

-->