<div class="modal fade" tabindex="-1" role="dialog" id="modalEbook">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <br>
        <div class="text-center" style="font-size:20px">
          <p>Entrez votre email pour recevoir
          </p>
            <p class="h2-responsive">
              <strong>"Démarrer une Application Web avec Angular CLI 12"
              </strong>
          </p>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <div class="md-form">
                <input type="email" id="emailebook" class="form-control" [(ngModel)]="emailebook">
              </div>
              <div class="help-block editerror pb-4" *ngIf="emailerror" style="font-size:22px">
                <strong>Veuillez entrez votre adresse email</strong>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <button class="btn btn-rounded buttonguide" type="button" (click)="close(true)">
                  <span *ngIf="loading==true" class="text-white spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span class="text-white ml-4">Je reçois mon Guide Angular</span>
              </button>
                </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <br>
              <p style="font-size:13px"><strong>Vous pouvez vous désinscrire en 1 clic depuis n'importe lequel de mes
                  emails</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="modal fade" id="modalEbook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close(false)">
            <span aria-hidden="true" class="black-text">×</span>
          </button>
        </div>
        <br>
        <div class="text-center" style="font-size:20px">
          <p>Entrez votre email pour recevoir
          </p>
            <p class="h2-responsive">
              <strong>"{{ title }}"</strong>
          </p>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <div class="md-form">
                <input type="email" id="emailebook" class="form-control" [(ngModel)]="emailebook">
                <label for="email">Email</label>
              </div>
              <div class="help-block editerror pb-4" *ngIf="emailerror" style="font-size:22px">
                <strong>Veuillez entrez votre adresse email</strong>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <button class="btn btn-rounded buttonguide" type="button" (click)="close(true)">
                  <span *ngIf="loading==true" class="text-white spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span class="text-white ml-4">Je reçois mon Guide Angular</span>
              </button>

            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <br>
              <p style="font-size:13px"><strong>Vous pouvez vous désinscrire en 1 clic depuis n'importe lequel de mes
                  emails</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
