.nga-nav-link {
  color: white;
  border-top: 1px solid #09238d;
  border-bottom: 1px solid #09238d;
  font-weight: 500;
}

.nga-nav-link:hover {
  color: yellow;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}


.nga-navbar {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #09238d;
}

.nga-logo {
  font-weight: 500;
}

.nga-logo:hover {
  color: rgba(255, 255, 255, 0.75);
}

.nga-btn-navbar {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1976d2;
  --bs-btn-border-color: #1976d2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
}


