<div class="table-responsive">
  <table *ngIf="itemsCount!==0" class="table table-hover table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th *ngFor="let column of columns" [class]="column.title.class">{{ column.title.caption }}</th>
      </tr>
    </thead>
    <tbody style="cursor: pointer">
      <tr *ngFor="let record of items; let i=index">
        <!--      <td>{{i + 1 + (pagination.current - 1) * pagination.perPage}}</td>-->
        <td *ngFor="let column of columns" [class]="column.data.class">
          <div *ngIf="column.type===null" (click)="selectItem(record['id'])" (keydown)="selectItem(record['id'])"
            tabindex="1">
            {{ record[column.data.field] }}
          </div>
          <div *ngIf="column.type==='num'" (click)="selectItem(record['id'])" (keydown)="selectItem(record['id'])"
            tabindex="1">
            {{ i + 1 }}
          </div>
          <div *ngIf="column.type==='pos'" (click)="selectItem(record['id'])" (keydown)="selectItem(record['id'])"
            tabindex="1">
            {{ i + 1 }}
          </div>
          <div *ngIf="column.type==='wiki'">
            <a *ngIf="record[column.data.field]!==null"
              href="https://en.wikipedia.org/wiki/{{ record[column.data.field] }}"><i
                class="fab fa-wikipedia-w {{column.data.class}}"></i></a>
          </div>
          <div *ngIf="column.type==='img'" (click)="selectItem(record['id'])" (keydown)="selectItem(record['id'])"
            tabindex="1">
            <img src="{{ record[column.data.field] }}" height="16" width="24" class="shadow-lg" alt="text_image">
          </div>
          <div *ngIf="column.type==='subfield'" (click)="selectItem(record['id'])" (keydown)="selectItem(record['id'])"
            tabindex="1">
            {{ record[column.data.field][column.data.subfield] }}
          </div>
          <div *ngIf="column.type==='checkbox'" (click)="selectItem(record['id'])" (keydown)="selectItem(record['id'])"
            tabindex="1">
            <div class="form-check ">
              <input class="form-check-input" type="checkbox" value="" [checked]="record[column.data.field]">
            </div>
          </div>
          <div *ngIf="column.type==='smallimg'" (click)="selectItem(record['id'])" (keydown)="selectItem(record['id'])"
            tabindex="1">
            <img src="{{ record[column.data.field] }}" height="129" width="90" class="shadow-lg rounded"
              alt="text_image">
          </div>
        </td>
      </tr>
    </tbody>

  </table>
</div>