.httpclient-table {
    border-radius: 10px;
}

.httpclient-table table {
    color: #FFFFFF;
}

.httpclient-table.blue-gradient {
    background: linear-gradient(40deg, #45cafc, #5664bd) !important
}