<div class="container py-5">
  <div class="row mb-2">
    <div class="col-md-12 text-center">
      <h3 class="h5">Features<i class="fas fa-list ms-2"></i></h3>
    </div>
  </div>
  <div class="row g-4 py-2 row-cols-1 row-cols-md-2 row-cols-lg-5 text-center">
    <div class="col" *ngFor="let item of items; let i=index">
      <div class="nga-card-step p-4 ">
        <a routerLink="{{ item.link }}">
          <i class="nga-text-primary {{ item.icon }} fa-3x mb-2"></i>
          <h3 class="h4 nga-text-primary fw-bold">{{ item.name }}</h3>
          <p>{{ item.description }}</p>
        </a>
      </div>
    </div>
  </div>
</div>

