<div class="container pt-5">
  <div class="row mb-4">
    <div class="text-center">
      <h1 class="h5">Prism Feature<i class="fas fa-list ms-2"></i></h1>
      <hr>
    </div>
  </div>
  <div class="row  justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
      <p>Mode Manual Javascript Language</p>
      <pre><code class="language-javascript">console.log("Tour of Heroes");</code></pre>
    </div>
  </div>
  <div class="row  justify-content-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
      <p>Mode Component 1</p>
      <app-prism-block class="" [code]="element.text" [language]="element.languagecode"></app-prism-block>
      <br>
      <p>Mode Component 2</p>
      <app-prism-block class="" [code]="element.text" [language]="element.languagecode"></app-prism-block>
      <br>
      <br>
      <ul>
        <li>Alien</li>
        <li>Alien Covenant</li>
        <li>Alien Prometheus</li>
        <li>Black Hawk Down</li>
      </ul>
      <br>
      <p>
        In 1993, an elite group of <strong>American Rangers</strong> and Delta Force soldiers are sent to Somalia on a
        critical mission
        to
        capture a violent warlord whose corrupt regime has lead to the starvation of hundreds of thousands of Somalis.
        When
        the mission goes terribly wrong, the men find themselves outnumbered and literally fighting for their lives.
      </p>
      <hr>
      <br>
      <p>Alien: Covenant premiered in London on <mark>May 4, </mark> 2017.</p>
      <p><del>Alien: Covenant premiered in London on May 4, 2017. </del></p>
      <p><s>Alien: Covenant premiered in London on May 4, 2017. </s></p>
      <p><ins>Alien: Covenant premiered in London on May 4, 2017. </ins></p>
      <p><u>Alien: Covenant premiered in London on May 4, 2017. </u></p>
      <p><small>Alien: Covenant premiered in London on May 4, 2017. </small></p>
      <p><strong>Alien: Covenant premiered in London on May 4, 2017. </strong></p>
      <p><em>Alien: Covenant premiered in London on May 4, 2017. </em></p>
      <hr>
      <br>
    </div>
  </div>
</div>