<app-modal-ebook></app-modal-ebook>

<div class="container px-4 py-5">
  <h2 class="display-6 fw-bold pb-2 text-center">Features</h2>
  <hr>
  <p>
    Modal components
    Below is a static modal example (meaning its position and display have been overridden). Included are the modal
    header, modal body (required for padding), and modal footer (optional). We ask that you include modal headers with
    dismiss actions whenever possible, or provide another explicit dismiss action.
  </p>
  <button type="button" class="btn btn-primary" (click)="openModal()">Primary</button>
</div>