<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-7">
        <h5 class="card-title text-center text-info">FormControl with Class</h5>
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" [formControl]="name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="releaseDate">Date</label>
              <input type="text" class="form-control" id="releaseDate" [formControl]="releaseDate">
            </div>
            <div class="form-group col-md-4">
              <label for="budget">Budget</label>
              <input type="text" class="form-control" id="budget" [formControl]="budget">
            </div>
            <div class="form-group col-md-4">
              <label for="worldwide">Worlwide</label>
              <input type="text" class="form-control" id="worldwide" [formControl]="worldwide">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="summary">Summary</label>
              <textarea class="form-control" id="summary" rows="2" [formControl]="summary"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="franchise" [formControl]="franchise">
              <label class="form-check-label" for="franchise">
                Franchise
              </label>
            </div>
          </div>
          <button type="submit" (click)="resetControls()" class="btn btn-info mr-2">Reset Controls</button>
          <button type="submit" (click)="updateControls()" class="btn btn-info mr-2">Update Controls</button>
          <button type="submit" (click)="getClass()" class="btn btn-info mr-2">Get Class</button>
        </form>
      </div>
      <div class="col-5">
        <h5 class="card-title text-center text-info">FormControl Result</h5>
        <strong>Name</strong> : {{ name.value }}<br>
        <strong>Release Date</strong> : {{ releaseDate.value }}<br>
        <strong>Budget</strong> : {{ budget.value }}<br>
        <strong>Worldwide</strong> : {{ worldwide.value }}<br>
        <strong>Summary</strong> : {{ summary.value }}<br>
        <strong>Franchise</strong> : {{ franchise.value }}<br>
        <h5 class="card-title text-center text-info">Movie Class Result</h5>
        <strong>Movie</strong> : {{ movie | json }}<br>
      </div>
    </div>
  </div>
</div>