<div class="row p-4">
  <div class="col-2">
    angular-select
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-primary">Primary</button>
  </div>
</div>
<div class="row p-4">
  <div class="col-4">
    <select class="form-select form-select-sm" (click)="clickOnSelectSimple()" (change)="changeOnSelectSimple($event)"
      [(ngModel)]="selectValueSimple">
      <option selected>default select menu</option>
      <option value="1">value1</option>
      <option value="2">value2</option>
      <option value="3">value3</option>
      <option value="4">value4</option>
    </select>
    <br>
    changeOnSelectSimple : selectValueSimple : {{ selectValueSimple }}<br>
  </div>
</div>
<div class="row p-4">
  <div class="col-4">
    items : {{ items | json }}<br>
    <select #selectData class="form-select form-select-sm" (click)="clickOnSelect()"
      (change)="changeOnSelect($event,selectData.value)" [(ngModel)]="selectValue"
      (ngModelChange)="onModelChange($event)">
      <option *ngFor='let item of items; let indexItem=index;' value="{{item.value}}">
        {{ item.name }}
      </option>
    </select>
    <br>
    changeOnSelect : selectValue : {{ selectValue }}<br>
  </div>
</div>


<div class="row p-4">
  <div class="col-4">
    <label for="example-select" class="form-label">Application</label>
    <select id="example-select" class="form-select" [(ngModel)]="selectedValue">
      <option *ngFor='let option of options; let indexItem=index;' value="{{option.value}}">
        {{ option.label }}
      </option>
    </select>
  </div>
</div>


<form [formGroup]="formItemExample" class="row p-4">
  <div class="col-4">
    <label for="example-select" class="form-label">Application formItemExample</label>
    <select id="example-select" class="form-select" formControlName="selectedValue">
      <option *ngFor='let option of options; let indexItem = index' [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
</form>

<router-outlet></router-outlet>