
<h1 (click)="onMouseOver()">Hello,title</h1>

<div (mouseover)="onMouseOver()" (mouseout)="onMouseOver()">
  qsdfqsdfqsfd
</div>

<div (mouseover)="onMouseOver()" (mouseout)="onMouseOver()">
  qsdfqsdfqsfd
</div>

<div (click)="onClick()" (dblclick)="onDoubleClick()" class="double-click-area">
  Cliquez ou Double-cliquez ici
</div>
<br>

<button type="button" class="btn btn-primary" (click)="onMouseOver()">
  Hover over me
</button>

<span (click)="onMouseOver()">qsdfqsdfqsd</span>

<section (click)="onMouseOver()">section</section>

<!--
<div class="row">
  <div class="col-6">
    angular-mouseover
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary" (click)="onMouseEnter()">
      Hover over me
    </button>
    </div>
  <div class="col-6">
    <button (mouseenter)="onMouseoverHelp()" type="button" class="btn btn-primary">Primary</button>
  </div>
  <div class="col-6">
    aaaa
    <i class="fa-solid fa-circle-info" style="cursor: pointer" 
    (mouseenter)="onMouseoverHelp()"></i>
    <span (mouseenter)="onMouseoverHelp()">bbbb</span>
  </div>
</div>
-->

