<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-3 d-none d-lg-inline-block d-xl-inline-block">
      <div class="row">
        <div class="col mb-2">
          <span class="ml-4 text-primary"><strong>Features List</strong></span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="accordion" id="accordionItems">
            <div class="card nga-card-menu">
              <div class="card-header">
                <a data-bs-toggle="collapse" data-parent="#accordionItems" href="#collapseItems" aria-expanded="true">
                  <div class="card-item">
                    <i class="fas fa-film me-2 "></i>Movies / Shows
                  </div>
                </a>
              </div>
              <div id="collapseItems" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionItems">
                <div class="card-body">
                  <ul class="list-group text-dark">
                    <li class="list-group-item">
                      <a routerLink="/crud/shows-images">
                        <i class="fas fa-desktop me-2"></i>
                        Shows Image
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/crud/movies-images">
                        <i class="fas fa-film me-2"></i>
                        Movies Image
                      </a>
                    </li>
                    <li class="list-group-item"><a routerLink="/crud/shows">
                        <i class="fas fa-desktop me-2"></i>
                        Shows List
                      </a>
                    </li>
                    <li class="list-group-item"><a routerLink="/crud/movies">
                        <i class="fas fa-film me-2"></i>
                        Movies List
                      </a>
                    </li>
                    <li class="list-group-item"><a routerLink="/crud/shows/0">
                        <i class="fas fa-desktop me-2"></i>
                        New Show
                      </a>
                    </li>
                    <li class="list-group-item"><a routerLink="/crud/movies/0">
                        <i class="fas fa-film me-2"></i>
                        New Movie
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card nga-card-menu">
              <div class="card-header">
                <a data-bs-toggle="collapse" data-parent="#accordionMovies" href="#collapseMovies" aria-expanded="true">
                  <div class="card-item">
                    <i class="fas fa-tools me-2 "></i>Generics
                  </div>
                </a>
              </div>
              <div id="collapseMovies" class="collapse" aria-labelledby="headingOne" data-parent="#accordionMovies">
                <div class="card-body">
                  <ul class="list-group text-dark">
                    <li class="list-group-item">
                      <a routerLink="/crud/continents">
                        <i class="fas fa-globe me-2"></i>
                        Continents List
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/crud/countries">
                        <i class="far fa-flag me-2"></i>
                        Countries List
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/crud/cities">
                        <i class="fas fa-city me-2"></i>
                        Cities List
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/crud/continents/0">
                        <i class="fas fa-globe me-2"></i>
                        New Continent
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/crud/countries/0">
                        <i class="far fa-flag me-2"></i>
                        New Country
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a routerLink="/crud/cities/0">
                        <i class="fas fa-city me-2"></i>
                        New City
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>