.nga-btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
  }
  
  .nga-btn:hover,
  .nga-btn:active,
  .nga-btn:focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    color: #4285f4;
    font-weight: bold;
  }
  
  .nga-btn-primary {
    border: 2px solid #4285f4;
    color: #4285f4;
    background-color: transparent;
  }
  
  .edit-error {
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
  }
  
  .nga-card {
    display: block;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border-radius: 2px;
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  
  .nga-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
  }
  
  .card-header {
    background-color: #4285f4;
    color: white;
  }
  
  a {
    color: #0d6efd;
    text-decoration: none;
  }
  
  a:hover {
    color: #0d6efd;
    font-weight: bold;
  }