<div class="container">
  <div class="row pt-5">
    <div class="col-12 d-flex flex-wrap align-items-center justify-content-between">
      <div class="d-flex align-items-center mb-2 mb-sm-0">
        <input [(ngModel)]="filters.name" type="text" class="form-control form-control-sm me-2" id="name" placeholder=""
          (keydown)="onKeydown($event)">
        <button type="button" class="btn nga-btn-search nga-btn-search-primary btn-sm me-1" (click)="search()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button type="button" class="btn nga-btn-search btn-sm d-flex align-items-center me-3"
          [ngClass]="{'nga-btn-search-black': isFiltersOpen,'nga-btn-search-primary': !isFiltersOpen }"
          (click)="toggleFilters()" [attr.aria-expanded]="isFiltersOpen" aria-controls="collapseFilters">
          Filters
          <i class="fa-solid ms-1" [ngClass]="isFiltersOpen ? 'fa-arrow-up-wide-short' : 'fa-arrow-down-wide-short'">
          </i>
        </button>
        <button type="button" class="btn nga-btn-search nga-btn-search-primary btn-sm" (click)="createItem()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <nav class="d-flex align-items-center me-3" aria-label="Page navigation" *ngIf="pagination.useful">
        <ul class="pagination pagination-sm mb-0">
          <li class="page-item" [ngClass]="{disabled: pagination.currentPage === 1}">
            <a class="page-link" (click)="changePage(1)" (keydown)="changePage(1)" tabindex="0">
              <span>&laquo;</span>
            </a>
          </li>
          <li class="page-item" [ngClass]="{disabled: pagination.currentPage === 1}">
            <a class="page-link" (click)="changePage(pagination.currentPage - 1)"
              (keydown)="changePage(pagination.currentPage - 1)" tabindex="0">
              <span>&lsaquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of pagination.pages"
            [ngClass]="{'active': page === pagination.currentPage}">
            <a class="page-link" (click)="changePage(page)" (keydown)="changePage(page)" tabindex="0">{{
              page }}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled: pagination.currentPage === pagination.totalPages}">
            <a class="page-link" (click)="changePage(pagination.currentPage + 1)"
              (keydown)="changePage(pagination.currentPage + 1)" tabindex="0">
              <span>&rsaquo;</span>
            </a>
          </li>
          <li class="page-item" [ngClass]="{disabled: pagination.currentPage === pagination.totalPages}">
            <a class="page-link" (click)="changePage(pagination.totalPages)"
              (keydown)="changePage(pagination.totalPages)" tabindex="0">
              <span>&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="d-none d-md-flex align-items-center">
        <b><span style="color:gray;">{{ totals.count }} sur {{ totals.countAll }}</span></b>
      </div>
      <div class="d-flex align-items-center">
        <select class="form-select form-select-sm" aria-label="Items per page" (ngModelChange)="changePerPage($event)"
          [(ngModel)]="selectedPerPage">
          <option *ngFor="let count of [1, 2, 3, 4, 5, 10, 20]" [value]="count">{{ count }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center m-4" *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row pt-2 pb-1">
    <div class="col">
      <div class="collapse" id="collapseFilters">
        <div class="row pt-4 pb-4">
          <div class="card card-body">
            <h5 class="card-title border-bottom pb-2">Search Filters</h5>
            <div class="row">
              <div class="col-md-2">
                <label for="filtersName" class="text-primary font-weight-bold form-label">Name</label>
                <input [(ngModel)]="filters.name" type="text" class="form-control text-primary" id="filtersName">
              </div>
              <div class="col-md-2">
                <label for="code" class="font-weight-bold form-label">Code</label>
                <input [(ngModel)]="filters.code" type="text" class="form-control" id="code">
              </div>
              <div class="col-md-2">
                <label for="areaMin" class="form-label">Area (km²)</label>
                <input [(ngModel)]="filters.areaMin" type="number" class="form-control mb-2" id="areaMin" min="0"
                  oninput="validity.valid||(value='');">
                <input [(ngModel)]="filters.areaMax" type="number" class="form-control" id="areaMax" min="0"
                  oninput="validity.valid||(value='');">
              </div>
              <div class="col-md-2">
                <label for="populationMin" class="form-label">Population<i class="mx-2 fa-solid fa-user"></i></label>
                <input [(ngModel)]="filters.populationMin" type="number" class="form-control mb-2" id="populationMin"
                  min="0" oninput="validity.valid||(value='');">
                <input [(ngModel)]="filters.populationMax" type="number" class="form-control" id="populationMax" min="0"
                  oninput="validity.valid||(value='');">
              </div>
              <div class="col-md-2">
                <label for="countriesCountMin" class="form-label">Countries<i class="mx-2 far fa-flag"></i></label>
                <input [(ngModel)]="filters.countriesCountMin" type="number" class="form-control mb-2"
                  id="countriesCountMin" min="0" oninput="validity.valid||(value='');">
                <input [(ngModel)]="filters.countriesCountMax" type="number" class="form-control" id="countriesCountMax"
                  min="0" oninput="validity.valid||(value='');">
              </div>
              <div class="col-md-2">
                <label for="densityMin" class="form-label">Density</label>
                <input [(ngModel)]="filters.densityMin" type="number" class="form-control mb-2" id="densityMin" min="0"
                  oninput="validity.valid||(value='');">
                <input [(ngModel)]="filters.densityMax" type="number" class="form-control" id="densityMax" min="0"
                  oninput="validity.valid||(value='');">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-2 pb-2" *ngIf="!loading">
    <div class="col">
      <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th class="d-none d-md-table-cell text-secondary font-weight-bold text-center">
              Page Rank
            </th>
            <th class="d-none d-md-table-cell text-secondary font-weight-bold text-center">
              Total Rank
            </th>
            <th class="d-none d-md-table-cell font-weight-bold text-center" [ngClass]="{
              'text-primary': sortColumn === 'id' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'id' || sortDirection === null
            }">
              <span role="button" tabindex="0" (click)="setSort('id')" (keydown.enter)="setSort('id')"
                style="cursor: pointer">
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'id' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'id' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'id' && sortDirection === 'desc'
                }"></i>
                Id
              </span>
            </th>
            <th class="font-weight-bold text-center" [ngClass]="{
              'text-primary': sortColumn === 'name' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'name' || sortDirection === null
            }">
              <span role="button" tabindex="0" (click)="setSort('name')" (keydown.enter)="setSort('name')"
                style="cursor: pointer">
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'name' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'name' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'name' && sortDirection === 'desc'
                }"></i>
                Name
              </span>
            </th>
            <th class="font-weight-bold text-center" [ngClass]="{
              'text-primary': sortColumn === 'code' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'code' || sortDirection === null
            }">
              <span role="button" tabindex="0" (click)="setSort('code')" (keydown.enter)="setSort('code')"
                style="cursor: pointer">
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'code' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'code' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'code' && sortDirection === 'desc'
                }"></i>
                Code
              </span>
            </th>
            <th class="d-none d-md-table-cell text-center text-success">
              Wiki
            </th>
            <th class="d-none d-md-table-cell font-weight-bold text-center" [ngClass]="{
              'text-primary': sortColumn === 'area' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'area' || sortDirection === null
            }">
              <span role="button" tabindex="0" (click)="setSort('area')" (keydown.enter)="setSort('area')"
                style="cursor: pointer">
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'area' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'area' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'area' && sortDirection === 'desc'
                }"></i>
                Area (km²)
              </span>
            </th>
            <th class="d-none d-md-table-cell font-weight-bold text-center" [ngClass]="{
              'text-primary': sortColumn === 'population' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'population' || sortDirection === null
            }">
              <span role="button" tabindex="0" (click)="setSort('population')" (keydown.enter)="setSort('population')"
                style="cursor: pointer">
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'population' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'population' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'population' && sortDirection === 'desc'
                }"></i>
                Population
              </span>
            </th>
            <th class="d-none d-md-table-cell font-weight-bold text-center" [ngClass]="{
              'text-primary': sortColumn === 'countriesCount' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'countriesCount' || sortDirection === null
            }">
              <span role="button" tabindex="0" (click)="setSort('countriesCount')"
                (keydown.enter)="setSort('countriesCount')" style="cursor: pointer">
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'countriesCount' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'countriesCount' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'countriesCount' && sortDirection === 'desc'
                }"></i>
                Countries
              </span>
            </th>
            <th class="d-none d-md-table-cell font-weight-bold text-center" [ngClass]="{
              'text-primary': sortColumn === 'density' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'density' || sortDirection === null
            }">
              <span role="button" tabindex="0" (click)="setSort('density')" (keydown.enter)="setSort('density')"
                style="cursor: pointer">
                <i class="fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'density' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'density' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'density' && sortDirection === 'desc'
                }"></i>
                Density
              </span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="items && items.length > 0">
          <tr>
            <td colspan="10" class="text-center"><strong></strong></td>
          </tr>
          <tr *ngFor="let item of items; let i = index">
            <td class="d-none d-md-table-cell text-center">{{ i + 1 }}</td>
            <td class="d-none d-md-table-cell text-center">{{ getGlobalPosition(i) }}</td>
            <td class="d-none d-md-table-cell text-center" [ngClass]="{
              'text-primary': sortColumn === 'id' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'id' || sortDirection === null }" style="cursor: pointer"
              (click)="selectItem(item)">
              {{ item.id }}
            </td>
            <td class="text-center" [ngClass]="{
              'text-primary': sortColumn === 'name' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'name' || sortDirection === null }" style="cursor: pointer"
              (click)="selectItem(item)">
              {{ item.name }}
            </td>
            <td class="text-center" [ngClass]="{
              'text-primary': sortColumn === 'code' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'code' || sortDirection === null
            }" style="cursor: pointer" (click)="selectItem(item)">
              {{ item.code }}
            </td>
            <td class="d-none d-md-table-cell text-center">
              <a href="https://en.wikipedia.org/wiki/{{ item.wikipediaLink }}" target="_blank" class="text-secondary">
                <i class="fab fa-wikipedia-w text-success"></i>
              </a>
            </td>
            <td class="d-none d-md-table-cell text-end" [ngClass]="{
              'text-primary': sortColumn === 'area' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'area' || sortDirection === null
            }" style="cursor: pointer" (click)="selectItem(item)">
              {{ item.area | number:'1.0-0':'fr' }}
            </td>
            <td class="d-none d-md-table-cell text-end" [ngClass]="{
              'text-primary': sortColumn === 'population' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'population' || sortDirection === null
            }" style="cursor: pointer" (click)="selectItem(item)">
              {{ item.population | number:'1.0-0':'fr' }}
            </td>
            <td class="d-none d-md-table-cell text-end" [ngClass]="{
              'text-primary': sortColumn === 'countriesCount' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'countriesCount' || sortDirection === null
            }" style="cursor: pointer" (click)="selectItem(item)">
              {{ item.countriesCount }}
            </td>
            <td class="d-none d-md-table-cell text-end" [ngClass]="{
              'text-primary': sortColumn === 'density' && (sortDirection === 'asc' || sortDirection === 'desc'),
              'text-body-tertiary': sortColumn !== 'density' || sortDirection === null
            }" style="cursor: pointer" (click)="selectItem(item)">
              {{ item.density | number:'1.5-5' }}
            </td>
          </tr>
          <tr>
            <td colspan="10" class="text-center"><strong></strong></td>
          </tr>
        </tbody>
        <tbody *ngIf="!items || items.length === 0">
          <tr>
            <td colspan="10" class="text-center"><strong>No {{ name_default }} available</strong></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="d-none d-md-table-cell text-center"><strong>Page Totals : {{ totals.count }}</strong>
            </td>
            <td class="d-none d-md-table-cell text-end text-secondary">{{ totals.area | number:'1.0-0':'fr' }}</td>
            <td class="d-none d-md-table-cell text-end text-secondary">{{ totals.population | number:'1.0-0':'fr' }}
            </td>
            <td class="d-none d-md-table-cell text-end text-secondary">{{ totals.countriesCount }}</td>
            <td class="d-none d-md-table-cell text-end text-secondary">{{ totals.density }}</td>
          </tr>
          <tr>
            <td colspan="6" class="d-none d-md-table-cell text-center"><strong>Search Totals : {{ totals.countAll
                }}</strong></td>
            <td class="text-end d-none d-lg-table-cell d-xl-table-cell text-secondary">{{ totals.areaAll |
              number:'1.0-0':'fr'
              }}</td>
            <td class="d-none d-md-table-cell text-end text-secondary">{{
              totals.populationAll
              | number:'1.0-0':'fr' }}</td>
            <td class="d-none d-md-table-cell text-end text-secondary">{{
              totals.countriesCountAll }}</td>
            <td class="d-none d-md-table-cell text-end text-secondary">{{
              totals.densityAll }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>