<div class="container">
  <div class="row pt-5">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex me-auto align-items-center">
        <input [(ngModel)]="filters.name" type="text" class="form-control form-control-sm me-2" id="name" placeholder=""
          (keydown)="onKeydown($event)">
        <button type="button" class="btn nga-btn-search nga-btn-search-primary btn-sm me-1" (click)="search()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false"
          aria-controls="collapseFilters"
          class="btn nga-btn-search nga-btn-search-primary btn-sm d-flex align-items-center me-4">
          Filters <i class="fa-solid fa-arrow-up-wide-short ms-1"></i>
        </button>
        <button type="button" class="btn nga-btn-search nga-btn-search-primary btn-sm" (click)="create()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class="d-flex align-items-center d-none d-md-block">
        <div class="ms-4">
          <b><span style="color:gray;">{{ totals.count }} sur {{ totals.countAll }}</span></b>
        </div>
      </div>
      <div class="d-flex mx-auto align-items-center">
        <nav aria-label="Navigation de page" style="cursor: pointer" *ngIf="pagination.useful">
          <ul *ngIf="pagination.pages" class="d-flex pagination justify-content-center pg-primary pagination-sm mb-0">
            <li *ngIf="pagination.pageBrowser" class="page-item" [ngClass]="{disabled: pagination.currentPage === 1}">
              <a class="page-link" aria-label="Première" (click)="changePage(1)" (keydown.enter)="changePage(1)"
                tabindex="0">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li *ngIf="pagination.pageBrowser" class="page-item" [ngClass]="{disabled:pagination.currentPage === 1}">
              <a class="page-link" aria-label="Précédent" (click)="changePage(pagination.currentPage - 1)"
                (keydown.enter)="changePage(pagination.currentPage - 1)" tabindex="0">
                <span aria-hidden="true">&lsaquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of pagination.pages"
              [ngClass]="{'active': page === pagination.currentPage}">
              <a class="page-link" (click)="changePage(page)" (keydown.enter)="changePage(page)" tabindex="0">{{ page
                }}</a>
            </li>
            <li *ngIf="pagination.pageBrowser" class="page-item"
              [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
              <a class="page-link" aria-label="Suivant" (click)="changePage(pagination.currentPage + 1)"
                (keydown.enter)="changePage(pagination.currentPage + 1)" tabindex="0">
                <span aria-hidden="true">&rsaquo;</span>
              </a>
            </li>
            <li *ngIf="pagination.pageBrowser" class="page-item"
              [ngClass]="{disabled:pagination.currentPage === pagination.totalPages}">
              <a class="page-link" aria-label="Dernière" (click)="changePage(pagination.totalPages)"
                (keydown.enter)="changePage(pagination.totalPages)" tabindex="0">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="p-2 d-none d-md-block">
        <select class="form-select form-select-sm" aria-label="Items per page"
          (ngModelChange)="changeItemsPerPage($event)" [(ngModel)]="selectedItemsPerPage">
          <option *ngFor="let count of [1, 2, 3, 4, 5, 10]" [value]="count">{{ count }}</option>
        </select>
      </div>

    </div>
  </div>

  <div class="d-flex justify-content-center m-4" *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row pt-2 pb-1">
    <div class="col">
      <div class="collapse" id="collapseFilters">
        <div class="row pt-4 pb-4">
          <div class="card card-body">
            <h5 class="card-title border-bottom pb-2">Search Filters</h5>
            <div class="row">
              <div class="col-md-2">
                <label for="name" class="text-primary font-weight-bold form-label">Name</label>
                <input [(ngModel)]="filters.name" type="text" class="form-control" id="name">
              </div>
              <div class="col-md-2">
                <label for="code" class="font-weight-bold form-label">Code</label>
                <input [(ngModel)]="filters.code" type="text" class="form-control" id="code">
              </div>
              <div class="col-md-2">
                <label for="areaMin" class="form-label">Area (km²)</label>
                <input [(ngModel)]="filters.areaMin" type="number" class="form-control mb-2" id="areaMin" min="0"
                  oninput="validity.valid||(value='');">
                <input [(ngModel)]="filters.areaMax" type="number" class="form-control" id="areaMax" min="0"
                  oninput="validity.valid||(value='');">
              </div>
              <div class="col-md-2">
                <label for="populationMin" class="form-label">Population<i class="mx-2 fa-solid fa-user"></i></label>
                <input [(ngModel)]="filters.populationMin" type="number" class="form-control mb-2" id="populationMin"
                  min="0" oninput="validity.valid||(value='');">
                <input [(ngModel)]="filters.populationMax" type="number" class="form-control" id="populationMax" min="0"
                  oninput="validity.valid||(value='');">
              </div>
              <div class="col-md-2">
                <label for="countriesNumberMin" class="form-label">Countries<i class="mx-2 far fa-flag"></i></label>
                <input [(ngModel)]="filters.countriesNumberMin" type="number" class="form-control mb-2"
                  id="countriesNumberMin" min="0" oninput="validity.valid||(value='');">
                <input [(ngModel)]="filters.countriesNumberMax" type="number" class="form-control"
                  id="countriesNumberMax" min="0" oninput="validity.valid||(value='');">
              </div>
              <div class="col-md-2">
                <label for="densityMin" class="form-label">Density</label>
                <input [(ngModel)]="filters.densityMin" type="number" class="form-control mb-2" id="densityMin" min="0"
                  oninput="validity.valid||(value='');">
                <input [(ngModel)]="filters.densityMax" type="number" class="form-control" id="densityMax" min="0"
                  oninput="validity.valid||(value='');">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-2 pb-2" *ngIf="!loading">
    <div class="col">
      <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
          <tr>
            <th
              class="text-secondary font-weight-bold text-center d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">
              Page Rank
            </th>
            <th
              class="text-secondary font-weight-bold text-center d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">
              Total Rank
            </th>
            <th
              class="text-secondary font-weight-bold text-center d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">
              <i style="cursor: pointer" class="text-body-tertiary fa-solid me-2" [ngClass]="{
                'fa-sort': sortColumn !== 'id' || sortDirection === null,
                'fa-sort-up': sortColumn === 'id' && sortDirection === 'asc',
                'fa-sort-down': sortColumn === 'id' && sortDirection === 'desc'
              }" (click)="setSort('id')" (keydown.enter)="setSort('id')" tabindex="0">
              </i>Id
            </th>
            <th class="text-dark font-weight-bold text-center">
              <i style="cursor: pointer" class="text-body-tertiary fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'name' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'name' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'name' && sortDirection === 'desc'
                }" (click)="setSort('name')" (keydown.enter)="setSort('name')" tabindex="0">
              </i>Name
            </th>

            <th class="text-secondary font-weight-bold text-center">
              <i style="cursor: pointer" class="text-body-tertiary fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'code' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'code' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'code' && sortDirection === 'desc'
                }" (click)="setSort('code')" (keydown.enter)="setSort('code')" tabindex="0">
              </i>Code
            </th>

            <th class="text-center d-none d-md-table-cell d-lg-table-cell d-xl-table-cell text-secondary">
              Wiki
            </th>
            <th class="text-center d-none d-lg-table-cell d-xl-table-cell text-secondary">
              <i style="cursor: pointer" class="text-body-tertiary fa-solid me-2" [ngClass]="{
                'fa-sort': sortColumn !== 'area' || sortDirection === null,
                'fa-sort-up': sortColumn === 'area' && sortDirection === 'asc',
                'fa-sort-down': sortColumn === 'area' && sortDirection === 'desc'
              }" (click)="setSort('area')" (keydown.enter)="setSort('area')" tabindex="0">
              </i>Area (km²)
            </th>
            <th class="text-center d-none d-md-table-cell d-lg-table-cell d-xl-table-cell text-secondary">
              <i style="cursor: pointer" class="text-body-tertiary fa-solid me-2" [ngClass]="{
                'fa-sort': sortColumn !== 'population' || sortDirection === null,
                'fa-sort-up': sortColumn === 'population' && sortDirection === 'asc',
                'fa-sort-down': sortColumn === 'population' && sortDirection === 'desc'
              }" (click)="setSort('population')" (keydown.enter)="setSort('population')" tabindex="0">
              </i>Population
            </th>
            <th class="text-center d-none d-md-table-cell d-lg-table-cell d-xl-table-cell text-secondary">
              <i style="cursor: pointer" class="text-body-tertiary fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'countries_number' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'countries_number' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'countries_number' && sortDirection === 'desc'
                }" (click)="setSort('countries_number')" (keydown.enter)="setSort('countries_number')" tabindex="0">
              </i>Countries
            </th>
            <th class="text-center d-none d-md-table-cell d-lg-table-cell d-xl-table-cell text-secondary">
              <i style="cursor: pointer" class="text-body-tertiary fa-solid me-2" [ngClass]="{
                  'fa-sort': sortColumn !== 'density' || sortDirection === null,
                  'fa-sort-up': sortColumn === 'density' && sortDirection === 'asc',
                  'fa-sort-down': sortColumn === 'density' && sortDirection === 'desc'
                }" (click)="setSort('density')" (keydown.enter)="setSort('density')" tabindex="0">
              </i>Density
            </th>
          </tr>
        </thead>
        <tbody *ngIf="items && items.length > 0">
          <tr>
            <td colspan="10" class="text-center"><strong></strong></td>
          </tr>
          <tr *ngFor="let item of items; let i = index" (click)="selectItem(item)">
            <td class="text-center d-none d-md-table-cell">{{ i + 1 }}</td>
            <td class="text-center d-none d-md-table-cell">{{ getGlobalPosition(i) }}</td>
            <td class="text-center">{{ item.id }}</td>
            <td style="cursor: pointer" class="text-primary text-center">{{ item.name }}</td>
            <td class="text-end text-center">{{ item.code }}</td>
            <td class="text-center d-none d-md-table-cell">
              <a href="https://en.wikipedia.org/wiki/{{ item.wikipediaLink }}" target="_blank" class="text-secondary">
                <i class="fab fa-wikipedia-w"></i>
              </a>
            </td>
            <td class="text-end d-none d-lg-table-cell">{{ item.area | number:'1.0-0':'fr' }}</td>
            <td class="text-end d-none d-md-table-cell">{{ item.population | number:'1.0-0':'fr' }}</td>
            <td class="text-end d-none d-md-table-cell">{{ item.countriesNumber }}</td>
            <td class="text-end d-none d-md-table-cell">{{ item.density | number:'1.5-5' }}</td>
          </tr>
          <tr>
            <td colspan="10" class="text-center"><strong></strong></td>
          </tr>
        </tbody>
        <tbody *ngIf="!items || items.length === 0">
          <tr>
            <td colspan="10" class="text-center"><strong>No continent available</strong></td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="6" class="text-center"><strong>Page Totals</strong></td>
            <td class="text-end text-secondary">{{ totals.area | number:'1.0-0':'fr' }}</td>
            <td class="text-end text-secondary">{{ totals.population | number:'1.0-0':'fr' }}</td>
            <td class="text-end text-secondary">{{ totals.countriesNumber }}</td>
            <td class="text-end text-secondary">{{ totals.density }}</td>
          </tr>
          <tr>
            <td colspan="6" class="text-center"><strong>Search Totals</strong></td>
            <td class="text-end d-none d-lg-table-cell d-xl-table-cell text-secondary">{{ totals.areaAll |
              number:'1.0-0':'fr'
              }}</td>
            <td class="text-end d-none d-md-table-cell d-lg-table-cell d-xl-table-cell text-secondary">{{
              totals.populationAll
              | number:'1.0-0':'fr' }}</td>
            <td class="text-end d-none d-md-table-cell d-lg-table-cell d-xl-table-cell text-secondary">{{
              totals.countriesNumberAll }}</td>
            <td class="text-end d-none d-md-table-cell d-lg-table-cell d-xl-table-cell text-secondary">{{
              totals.densityAll }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>