<div class="card">
  <div class="card-body">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        <h5 class="card-title text-center text-info">FormControl</h5>
        <form class="row g-3">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" value="Avengers: Endgame">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="releaseDate" class="form-label">Release Date</label>
            <input type="text" class="form-control" id="releaseDate" value="April 24, 2019">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="budget" class="form-label">Budget</label>
            <input type="text" class="form-control" id="budget" value="$356,000,000">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="worldwide" class="form-label">Worldwide</label>
            <input type="text" class="form-control" id="worldwide" value="$2,797,800,564">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="domestic" class="form-label">Domestic</label>
            <input type="text" class="form-control" id="domestic" value="$858,373,000">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label for="international" class="form-label">International</label>
            <input type="text" class="form-control" id="international" value="$1,939,427,564">
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label for="summary" class="form-label">Summary</label>
            <textarea class="form-control" id="summary" rows="3"
              id="summary">After the devastating events of Avengers: Infinity War (2018), the universe is in ruins.</textarea>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="franchise">
              <label class="form-check-label" for="franchise">
                Franchise
              </label>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <button type="submit" class="btn btn-primary btn-sm">Create</button>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <button type="submit" class="btn btn-primary btn-sm">Copy</button>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <button type="submit" class="btn btn-primary btn-sm">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div class="card">
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="summary">Summary</label>
          <textarea class="form-control" id="summary" rows="4"></textarea>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleFormControlSelect2">Genres</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Drama</option>
            <option>Comedy</option>
            <option>Thriller</option>
            <option>Documentary</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="franchise">
          <label class="form-check-label" for="franchise">
            Franchise
          </label>
        </div>
      </div>
      <div class="form-row">
        <button type="button" class="btn btn-primary mr-2">Create</button>
        <button type="button" class="btn btn-primary mr-2">Save</button>
        <button type="button" class="btn btn-primary mr-2">Copy</button>
        <button type="button" class="btn btn-primary mr-2">Delete</button>
      </div>
    </form>
  </div>
</div>-->