<div class="container pt-5">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-12 wow fadeIn mb-3">
        <div class="card card-body rgba-primary-slight text-center primary-text">
          <ul class="list-unstyled py-5 mx-lg-5">
            <li>
              <h1 class="display-1 mt-5 mx-5 mt-lg-0 font-weight-bold primary-text wow fadeIn"
                data-wow-delay="0.3s">
                <strong>Error 404</strong>
              </h1>
            </li>
            <li>
              <h4 class="primary-text">Looks like That page
                Doesn't exist
              </h4>
              <p class="description">Please select a link below or from the navigation above to get back on the
                right track
              <p>
              <p class="description">
                <a class="nga-btn-notfound" routerLink="/news">Get Started</a>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>