# Fichiers compilés
*.class
*.war
*.jar
*.ear

# Répertoires de build
/bin/
/build/
/out/
target/
*/build/

# Logs et fichiers temporaires
*.log
*.tmp
hs_err_pid*

# Paramètres de l'IDE Eclipse
/.classpath
/.project
/.settings/
*.iml
.idea/
.vscode/

# Maven
/.mvn/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# Fichiers spécifiques à Tomcat
/.tomcat/

# Cache et fichiers temporaires
.DS_Store
Thumbs.db
