<div class="cardhoverable">

  <div class="row">
    <div class="col mb-2">
      <span class="ml-4 text-primary"><strong>Features</strong></span>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <div class="accordion" id="accordionExample">
        <div class="card" *ngFor="let feature of data">
          <div class="card-header">
            <a data-toggle="collapse" data-parent="#accordionExample" href="#collapse{{ feature.name }}"
              aria-expanded="true">
              <div class="mb-0">
                <i class="{{ feature.icon }} mr-2"></i>{{ feature.caption }}
              </div>
            </a>
          </div>
          <div id="collapse{{ feature.name }}" class="collapse" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-group">
                <li *ngFor="let item of feature.items" class="list-group-item text-primary">
                  <a routerLink="/{{ item.link }}"><i class="{{ item.icon }} mr-4"></i>{{ item.name }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>