# Node.js
node_modules
npm-debug.log
package-lock.json*~

# Fichiers de build ou artefacts
dist/*.map
coverage
*.log

# Config / dev / tests
.env
.eslintrc.*
.prettierrc.*
jest.config.*
tsconfig*.json
*.test.js
__tests__/

# Git / CI
.git
.gitignore
.dockerignore
Dockerfile

# Éditeurs
.vscode/
.idea/
*.swp
