.nga-btn-about {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px
}

.nga-btn-about i {
  font-size: 1.25rem;
  line-height: 47px;
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center
}

.nga-btn-about:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.nga-btn-about i:hover {
  color: black;
}

.nga-card-about {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nga-card-about.card-logo {
  margin-top: 5rem;
  text-align: center;
}

.nga-card-about.card-logo img {
  margin-top: -5rem;
}

hr {
  color: #0d6efd;
}

.nga-about-hint {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  border: 1px solid #4285f4;
  color: #4285f4;
  background-color: transparent;
}

.nga-about-hint:hover, .nga-about-hint:active, .nga-about-hint:focus {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  color: black;
}

.nga-btn-github {
  background-color: #333;
}

.nga-btn-linkedin {
  background-color: #0082ca;
}

.nga-btn-twitter {
  background-color: #55acee;
}

.nga-tutorial {
  color: #0d6efd;
}

.nga-tutorial:hover {
  color: black;
}