<div class="py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-12 pb-4">
        <section class="nga-card-about card-logo">
          <img class="" src="./assets/params/images/about/ganatan-about.png" alt="logo Ganatan" title="logo Ganatan">
          <div class="card-body">
            <h1 class="card-title h5">
              <strong>danny Collodet</strong>
            </h1>
            <h2 class=" h6">Web Developer Angular, Node.js</h2>
            <p>dannyganatan@gmail.com</p>
            <a type="button" class="nga-btn-about nga-btn-github" href="https://github.com/ganatan" aria-label="Github ganatan">
              <i class="fab fa-github"></i></a>
            <a type="button" class="nga-btn-about nga-btn-linkedin" href="https://www.linkedin.com/in/dannyganatan/"
              aria-label="Linkedin ganatan">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="nga-btn-about nga-btn-twitter" href="https://twitter.com/dannyganatan"
              aria-label="Twitter ganatan">
              <i class="fab fa-twitter"></i>
            </a>
            <hr>
            <h3 class="h6 text-primary p-4">Updated 2021, 25 October</h3>
            <figure *ngIf="quote">
              <blockquote class="blockquote">
                <p style="font-size: 1rem;">
                  <strong>{{ quote.title }}</strong>
                </p>
              </blockquote>
              <figcaption>
                <cite style="font-size: 1rem;">
                  <a href="{{ quote.link }}">
                    <i>{{ quote.name }}</i>
                  </a></cite>
                <button type="button" (click)="loadQuote()"
                  class="ms-4 btn nga-about-hint btn-sm"><i class="fas fa-random"
                    aria-hidden="true"></i></button>
              </figcaption>
            </figure>
          </div>
        </section>
      </div>

      <div class="col-lg-8 text-center">
        <div class="row">
          <div class="col-lg-6 mb-2">
            <div class="nga-card-about p-4">
              <h2 class="h5 mb-4 text-primary">
                <strong>Front End</strong>
              </h2>
              <div class="row mb-2"><i class="fas fa-desktop mb-2"></i>
                <h3 class="h5">Dependencies</h3>
              </div>
              <div class="row">
                <h4 *ngFor="let item of dependencies.frontend" class="h6"><i
                    class="fa fa-square fa-xs text-primary me-2"></i>{{item.name }}</h4>
              </div>
              <hr>
              <div class="row mb-2"><i class="fas fa-desktop mb-2"></i>
                <h3 class="h5">Features</h3>
              </div>
              <div class="row ml-4">
                <div class="col">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered table-responsive-md table-sm">
                      <thead>
                        <tr>
                          <th class="h6">Name</th>
                          <th class="h6 ">Tutorial<img class="ms-2" src="./assets/params/images/about/gb.png"
                              alt="Tutoriel Anglais">
                          </th>
                          <th class="h6 font-weight-bold text-center">Tutoriel<img class="ms-2"
                              src="./assets/params/images/about/fr.png" alt="Tutoriel Français"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of features.frontend">
                          <td>
                            <h4 class="h6">{{ item.name }}</h4>
                          </td>
                          <td>
                            <a *ngIf="item.englishTutorial!=null" href="{{ item.englishTutorial }}"
                              style="cursor: pointer">
                              <i class="nga-tutorial fas fa-desktop"></i>
                            </a>
                          </td>
                          <td>
                            <a *ngIf="item.frenchTutorial!=null" href="{{ item.frenchTutorial }}"
                              style="cursor: pointer">
                              <i class="nga-tutorial fas fa-desktop"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mb-2">
            <div class="nga-card-about p-4">
              <h2 class="h5 mb-4 text-primary">
                <strong>Back End</strong>
              </h2>
              <div class="row mb-2"><i class="fas fa-laptop mb-2"></i>
                <h3 class="h5">Dependencies</h3>
              </div>
              <div class="row">
                <h4 *ngFor="let item of dependencies.backend" class="h6"><i class="fa fa-square fa-xs text-primary me-2"
                    aria-hidden="true"></i>{{item.name }}
                </h4>
              </div>
              <hr>
              <div class="row mb-2"><i class="fas fa-laptop mb-2"></i>
                <h3 class="h5">Features</h3>
              </div>
              <div class="row ml-4">
                <h4 *ngFor="let item of features.backend" class="h6"><i class="fa fa-square fa-xs text-primary me-2"
                    aria-hidden="true"></i>{{ item.name }}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>