<div class="row mb-1">
  <div class="col-md-12 text-center">
    <h2 class="h4">Features&nbsp;&nbsp;<i class="fas fa-list"></i></h2>
  </div>
</div>

<div class="row pt-2">
  <div *ngFor="let item of items" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <a routerLink="/reactive-form/{{ item.link }}">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">{{ item.name }}</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fab fa-wpforms fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Description {{ item.name }}</p>
        </div>
      </a>
    </div>
  </div>
</div>



<!--<div class="row pt-2">
  <div *ngFor="let item of items" class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2">
    <div class="card bg-light mb-3">
      <a routerLink="/reactive-form/{{ item.link }}">
        <div class="card-header">
          <div class="row">
            <div class="col-10 col-xl-10">
              <h5 class="card-title">{{ item.name }}</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="fab fa-bootstrap fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Description {{ item.name }}</p>
        </div>
      </a>
    </div>
  </div>
</div>-->