<div class="col">
  <div class="card card-nga-form">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-8 text-center mb-4">
          <i class="fas fa-laptop text-primary me-1"></i>
          <span class="text-primary fw-bold">Movie</span>
          <i class="fas fa-database text-danger ms-4 me-1"></i>
          <span class="text-danger me-2">DataSource :</span>
          <span class="text-danger me-2">LOCAL JSON (no crud)</span>
        </div>
        <div class="col-12 col-md-4 text-center mb-4">
          <div class="btn-group" role="group" aria-label="">
            <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
              <i class="fas fa-plus fa-lg" aria-hidden="true"></i>
            </button>
            <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
              <i class="fas fa-save fa-lg" aria-hidden="true"></i>
            </button>
            <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
              <i class="fas fa-copy fa-lg" aria-hidden="true"></i>
            </button>
            <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
              <i class="fas fa-trash-alt fa-lg" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <form [formGroup]="form" class="row g-3">
            <div class="col-md-2">
              <label for="id" class="form-label">Id</label>
              <input type="text" class="form-control" id="id" formControlName="id">
            </div>
            <div class="col-md-10">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="col-md-12">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="wikipediaLink" class="text-success">wikipedia</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="wikipediaLinkGroupPrepend">
                        <a href="https://en.wikipedia.org/wiki/{{ form.value.wikipediaLink }}"><i
                            class="text-success fab fa-wikipedia-w"></i></a>
                      </span>
                    </div>
                    <input type="text" formControlName="wikipediaLink" class="text-success form-control" placeholder=""
                      id="wikipediaLink" aria-describedby="wikipediaLinkGroupPrepend">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <div class="d-flex md-form form-group mt-0">
                <div class="disabled clearfix d-none d-md-block pt-2 ml-4">
                  <i class="{{ icon }} text-primary mr-2"></i>
                  <span class="text-primary font-weight-bold mr-4">{{ titleForm }}</span>
                  <i class="fas fa-database {{ datasourceColor }} mr-2 ml-4 mr-2"></i>
                  <span class="{{ datasourceColor }} ml-2">Datesource : </span>
                  <span class="{{ datasourceColor }} ml-2">{{ datasource }}</span>
                </div>
                <a class="navbar-btn waves-effect waves-light ml-auto px-3 pt-2">
                  <button [disabled]="!api" type="submit" class="btn btn-outline-primary btn-sm mb-2 ml-3"
                    (click)="onCreate()"><i class="fas fa-plus fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onUpdate()"><i
                      class="fas fa-save fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api || item.id==undefined || item.id==null" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onCopy()"><i
                      class="fas fa-copy fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api || item.id==undefined || item.id==null" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onDelete()"><i
                      class="fas fa-trash-alt fa-lg"></i></button>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="id" class="text-info">Id</label>
                  <input type="text" formControlName="id" class="text-info form-control" placeholder="" id="id"
                    readonly>
                </div>
                <div class="form-group col-md-4">
                  <label for="code" class="text-primary font-weight-bold">Code</label>
                  <input type="text" formControlName="code" class="text-primary form-control font-weight-bold"
                    placeholder="" id="code">
                  <div *ngIf="code.invalid" class="alert alert-primary mt-2">
                    <div *ngIf="code.errors.required">
                      Code is required.
                    </div>
                    <div *ngIf="code.errors.minlength">
                      Code must be at least 2 characters long.
                    </div>
                    <div *ngIf="code.errors.maxlength">
                      Code must be max 2 characters long.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="name" class="text-primary font-weight-bold">Name</label>
                  <input type="text" formControlName="name" class="text-primary form-control font-weight-bold"
                    placeholder="" id="name">
                  <div *ngIf="name.invalid" class="alert alert-primary mt-2">
                    <div *ngIf="name.errors.required">
                      Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="area" class="text-primary">Area</label>
                  <input type="text" formControlName="area" class="text-primary form-control" placeholder="" id="area">
                  <div *ngIf="area.invalid" class="alert alert-primary mt-2">
                    <div *ngIf="area.errors.pattern">
                      Only numbers are allowed
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="population" class="text-primary">Population</label>
                  <input type="text" formControlName="population" class="text-primary form-control" placeholder=""
                    id="population">
                  <div *ngIf="population.invalid" class="alert alert-primary mt-2">
                    <div *ngIf="population.errors.pattern">
                      Only numbers are allowed
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="frenchName" class="text-primary">French Name</label>
                  <input type="text" formControlName="frenchName" class="text-primary form-control" placeholder=""
                    id="frenchName">
                  <div *ngIf="frenchName.invalid" class="alert alert-primary mt-2">
                    <div *ngIf="frenchName.errors.required">
                      French Name is required.
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="countriesNumber" class="text-primary">Countries Number</label>
                  <input type="text" formControlName="countriesNumber" class="text-primary form-control" placeholder=""
                    id="countriesNumber">
                  <div *ngIf="countriesNumber.invalid" class="alert alert-primary mt-2">
                    <div *ngIf="countriesNumber.errors.pattern">
                      Only numbers are allowed
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="wikipediaLink" class="text-success">wikipedia</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="wikipediaLinkGroupPrepend">
                        <a href="https://en.wikipedia.org/wiki/{{ form.value.wikipediaLink }}"><i
                            class="text-success fab fa-wikipedia-w"></i></a>
                      </span>
                    </div>
                    <input type="text" formControlName="wikipediaLink" class="text-success form-control" placeholder=""
                      id="wikipediaLink" aria-describedby="wikipediaLinkGroupPrepend">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->