.nga-container {
  font-size: 1.2em;
}

@media (max-width: 992px) {
  .nga-container {
    font-size: 1em;
  }
}

.nga-gradient {
  padding: 3rem 0;
  background: linear-gradient(225deg, #0d47a1, #42a5f5);
}

.nga-btn-home {
  --bs-btn-color: #fff;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: black;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.nga-text-primary {
  color: #0d6efd;
}

.nga-card-step {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.nga-card-step a {
  color: #0d6efd;
  text-decoration: none;
}

.nga-card-step a:hover {
  color: #0d6efd;
}

.nga-card-step:hover {
  border: 1px solid #99ccff;
  color: #0d6efd;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.nga-btn-guide {
  border-radius: 10em;
  font-size: .80rem;
  font-weight: bold;
  padding: .84rem 2.14rem;
  text-transform: uppercase;
  --bs-btn-color: #fff;
  --bs-btn-bg: #1976d2;
  --bs-btn-border-color: #1976d2;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #1976d2;
  --bs-btn-hover-border-color: #1976d2;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1976d2;
  --bs-btn-active-border-color: #1976d2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1976d2;
  --bs-btn-disabled-border-color: #1976d2;
}

.nga-btn-guide:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.nga-text-guide {
  color: #1976d2;
}

