<div class="container-fluid mb-5">
  <div class="row mb-5">
    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
      <div class="card-nga">
        <h1 class="h5 card-header text-center py-4">
          <i class="fas fa-sign-in-alt me-4"></i><strong>Se connecter</strong>
        </h1>
        <div class="card-body px-lg-5 pt-4">
          <form>
            <div class="form-row">
              <div class="col">
                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input type="email" class="form-control form-control-sm" formControlName="email" id="email"
                      placeholder="">
                    <label for="floatingInput">Nom ou Email</label>
                  </div>
                </div>
                <div class="md-form">
                  <div class="form-floating">
                    <input type="password" class="form-control form-control-sm" formControlName="password"
                      id="password" placeholder="">
                    <label for="floatingInput">Mot de passe</label>
                  </div>
                </div>
                <div class="d-flex justify-content-around">
                  <div class="pb-4">
                    <a class="login" href="/login-reset">Mot de passe oublié ?</a>
                  </div>
                </div>
                <button class="w-100 btn btn-nga btn-nga-primary mb-4" type="submit">
                  Se connecter<i class="fas fa-sign-in-alt ms-4"></i></button>
                <p class="text-center">Non inscrit ?
                  <a class="login" href="/signup">S'inscrire</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
