<app-modal-form></app-modal-form>

<div class="container-fluid mb-5">
  <div class="row m-5">
    <div class="col-6 mx-auto">
      angular-modal-form
    </div>
  </div>
  <div class="row m-5">
    <div class="col-6 mx-auto">
      dataModal : {{ dataModal | json }}<br>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-6 mx-auto">
      <button type="button" class="btn btn-primary" (click)="openModal()">openModal</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>