<div class="modal" tabindex="-1" id="modalForm">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text </p>
        <form [formGroup]="exampleForm">
          <div class="row d-flex justify-content-center">
            <div class="col-12 p-4">
              exampleForm JSON Value <br>
              {{ exampleForm.value | json }}<br>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-6">
              <div class="md-form">
                <input type="text" id="code" class="form-control" formControlName="code">
              </div>
              <div style="font-size:22px">
                <strong>formControlName Code</strong>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <input type="text" id="name" class="form-control" formControlName="name">
              </div>
              <div style="font-size:22px">
                <strong>formControlName Name</strong>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel Button</button>
        <button type="button" class="btn btn-success" (click)="onSave()">Save Button</button>
      </div>
    </div>
  </div>
</div>