<div class="container-fluid">

  <div class="row p-2">
    <div class="col-6 mx-auto">
      angular-memo
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6 mx-auto">
      exampleText : {{ exampleText }}<br>
      exampleMemo : {{ exampleMemo }}<br>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6 mx-auto">
      <button type="button" class="btn btn-primary" (click)="addText()">addText</button>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-6 mx-auto">
      <div class="mb-3">
        <label for="text" class="form-label">Text</label>
        <input type="text" class="form-control" id="text" [(ngModel)]="exampleText">
      </div>
      <div class="mb-3">
        <label for="memo" class="form-label">Memo</label>
        <textarea class="form-control" id="memo" rows="11" [(ngModel)]="exampleMemo"></textarea>
      </div>      
    </div>
  </div>

</div>

<router-outlet></router-outlet>