
<h3>image component type: {{ type }}</h3>
<h3>image component typeobj: {{ typeobj | json }}</h3>
<h3>images on image component</h3>

<img src="./assets/images/flag-us.png" width="20" height="20" alt="English flag">
<img src="./assets/images/flag-us.png" width="20" height="20" alt="English flag">
<img src="./assets/images/flag-us.png" width="20" height="20" alt="English flag">

<button type="button" class="btn btn-primary" (click)="changeType()">changeType</button>
<button type="button" class="btn btn-primary" (click)="changeTypeobj()">changeTypeobj</button>
