<div class="row">
  <div class="col">
    <span class="ml-4"><strong>Feature</strong></span>
    <div class="d-flex pt-2">
      <div class="d-flex me-auto">
        <input #edit type="text" class="form-control me-2" name="searchField" [ngModel]="searchField" placeholder="{{placeholder}}">
        <button type="button" class="btn btn-nga-primary btn-sm btn-nga" (click)="searching()"><i
            class="fa fa-search"></i></button>
      </div>
      <div class="d-flex me-auto d-none d-md-block">
        <div class=" pt-2 ml-4">
          <b>
            <span style="color:gray;">{{ itemsCount }} {{ results }}</span>
          </b>
          <span style="color: #e0e0e0;">( 0.432 ms )</span>
        </div>
      </div>
    </div>
  </div>
</div>