<app-page-form>
  <div class="col">
    <div class="card card-nga-form">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-8 text-center mb-4">
            <i class="fas fa-laptop text-primary me-1"></i>
            <span class="text-primary fw-bold">Movie</span>
            <i class="fas fa-database text-danger ms-4 me-1"></i>
            <span class="text-danger me-2">DataSource :</span>
            <span class="text-danger me-2">LOCAL JSON (no crud)</span>
          </div>
          <div class="col-12 col-md-4 text-center mb-4">
            <div class="btn-group" role="group" aria-label="">
              <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
                <i class="fas fa-plus fa-lg" aria-hidden="true"></i>
              </button>
              <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
                <i class="fas fa-save fa-lg" aria-hidden="true"></i>
              </button>
              <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
                <i class="fas fa-copy fa-lg" aria-hidden="true"></i>
              </button>
              <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
                <i class="fas fa-trash-alt fa-lg" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <form [formGroup]="form" class="row g-3">
              <div class="col-md-2">
                <label for="id" class="form-label">Id</label>
                <input type="text" class="form-control" id="id" formControlName="id">
              </div>
              <div class="col-md-10">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
              <div class="col-md-12">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="wikipediaLink" class="text-success">wikipedia</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="wikipediaLinkGroupPrepend">
                          <a href="https://en.wikipedia.org/wiki/{{ form.value.wikipediaLink }}"><i
                              class="text-success fab fa-wikipedia-w"></i></a>
                        </span>
                      </div>
                      <input type="text" formControlName="wikipediaLink" class="text-success form-control"
                        placeholder="" id="wikipediaLink" aria-describedby="wikipediaLinkGroupPrepend">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-page-form>
