<div class="col">
  <div class="card card-nga-form">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-8 text-center mb-4">
          <i class="fas fa-laptop text-primary me-1"></i>
          <span class="text-primary fw-bold">Movie</span>
          <i class="fas fa-database text-danger ms-4 me-1"></i>
          <span class="text-danger me-2">DataSource :</span>
          <span class="text-danger me-2">LOCAL JSON (no crud)</span>
        </div>
        <div class="col-12 col-md-4 text-center mb-4">
          <div class="btn-group" role="group" aria-label="">
            <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
              <i class="fas fa-plus fa-lg" aria-hidden="true"></i>
            </button>
            <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
              <i class="fas fa-save fa-lg" aria-hidden="true"></i>
            </button>
            <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
              <i class="fas fa-copy fa-lg" aria-hidden="true"></i>
            </button>
            <button class="btn btn-nga-primary btn-sm btn-nga me-2" type="button">
              <i class="fas fa-trash-alt fa-lg" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <form [formGroup]="form" class="row g-3">
            <div class="col-md-2">
              <label for="id" class="form-label">Id</label>
              <input type="text" class="form-control" id="id" formControlName="id">
            </div>
            <div class="col-md-10">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="col-8">
              <label for="fileName" class="form-label">File Name</label>
              <input type="text" class="form-control" id="fileName" placeholder="" formControlName="fileName">
            </div>
            <div class="col-4">
              <label for="releaseDate" class="form-label">Release Date</label>
              <input type="text" class="form-control" id="releaseDate" placeholder="" formControlName="releaseDate">
            </div>
            <div class="col-md-12">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="wikipediaLink" class="text-success">wikipedia</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="wikipediaLinkGroupPrepend">
                        <a href="https://en.wikipedia.org/wiki/{{ form.value.wikipediaLink }}"><i
                            class="text-success fab fa-wikipedia-w"></i></a>
                      </span>
                    </div>
                    <input type="text" formControlName="wikipediaLink" class="text-success form-control" placeholder=""
                      id="wikipediaLink" aria-describedby="wikipediaLinkGroupPrepend">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="movie" formControlName="movie">
                <label class="form-check-label" for="movie">
                  Movie
                </label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="show" formControlName="show">
                <label class="form-check-label" for="show">
                  Show
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
          <div class="form-group col-md-12">
            <img *ngIf="form.value.image!==null" src="{{ form.value.image }}"
              class="img-fluid shadow-lg rounded img-thumbnail" alt="text_image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <div class="d-flex md-form form-group mt-0">
                <div class="disabled clearfix d-none d-md-block pt-2 ml-4">
                  <i class="{{ icon }} text-primary mr-2"></i>
                  <span class="text-primary font-weight-bold mr-4">{{ titleForm }}</span>
                  <i class="fas fa-database {{ datasourceColor }} mr-2 ml-4 mr-2"></i>
                  <span class="{{ datasourceColor }} ml-2">Datesource : </span>
                  <span class="{{ datasourceColor }} ml-2">{{ datasource }}</span>
                </div>
                <a class="navbar-btn waves-effect waves-light ml-auto px-3 pt-2">
                  <button [disabled]="!api" type="submit" class="btn btn-outline-primary btn-sm mb-2 ml-3"
                    (click)="onCreate()"><i class="fas fa-plus fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onUpdate()"><i
                      class="fas fa-save fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onCopy()"><i
                      class="fas fa-copy fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api || item.id==undefined || item.id==null" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onDelete()"><i
                      class="fas fa-trash-alt fa-lg"></i></button>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="id" class="text-info">Id</label>
                  <input type="text" formControlName="id" class="text-info form-control" placeholder="" id="id"
                    readonly>
                </div>
                <div class="form-group col-md-10">
                  <label for="name" class="text-primary font-weight-bold">Name</label>
                  <input type="text" formControlName="name" class="text-primary form-control font-weight-bold"
                    placeholder="" id="name">
                  <div *ngIf="name.invalid" class="alert alert-primary mt-2">
                    <div *ngIf="name.errors.required">
                      Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="fileName" class="text-primary">File Name</label>
                  <input type="text" formControlName="fileName" class="text-primary form-control" placeholder=""
                    id="fileName">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="releaseDate" class="text-primary">Release Date</label>
                  <input type="text" formControlName="releaseDate" class="text-primary form-control" placeholder=""
                    id="releaseDate">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-2">
                  <div class="form-check">
                    <input formControlName="show" class="form-check-input" type="checkbox" id="show">
                    <label class="form-check-label" for="show">
                      show
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-2">
                  <div class="form-check">
                    <input formControlName="movie" class="form-check-input" type="checkbox" id="movie">
                    <label class="form-check-label" for="movie">
                      movie
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="wikipediaLink" class="text-success">wikipedia</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="wikipediaLinkGroupPrepend">
                        <a href="https://en.wikipedia.org/wiki/{{ form.value.wikipediaLink }}"><i
                            class="text-success fab fa-wikipedia-w"></i></a>
                      </span>
                    </div>
                    <input type="text" formControlName="wikipediaLink" class="text-success form-control" placeholder=""
                      id="wikipediaLink" aria-describedby="wikipediaLinkGroupPrepend">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <img *ngIf="form.value.image!=null" src="{{ form.value.image }}" class="img-fluid shadow-lg rounded">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>-->