body {
  padding-top: 4rem;
  color: black;
  font-weight: 400;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.card {
  display: block;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  border-radius: 2px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.bd-navbar .navbar-toggler {
  padding: 0;
  border: 0
}

.bd-navbar .navbar-nav .nav-link {
  padding-right: .25rem;
  padding-left: .25rem;
  color: rgba(255, 255, 255, 0.85)
}

.bd-navbar .navbar-nav .nav-link:hover,
.bd-navbar .navbar-nav .nav-link:focus {
  color: #fff
}

.bd-navbar .navbar-nav .nav-link.active {
  font-weight: 600;
  color: #fff
}

.bd-navbar .navbar-nav-svg {
  width: 1rem;
  height: 1rem
}

@media (min-width: 768px) {
  :root {
    scroll-padding-top: 4rem
  }
}

.bd-content>h2:not(:first-child) {
  margin-top: 3rem
}

.bd-content>h3 {
  margin-top: 2rem
}

.bd-content>ul li,
.bd-content>ol li {
  margin-bottom: .25rem
}


@media (max-width: 767.98px) {
  .bd-sidebar {
    margin: 0 -.75rem 1rem
  }
}

.bd-links {
  overflow: auto;
  font-weight: 600
}

@media (min-width: 768px) {
  .bd-links {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 7rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto
  }
}

@media (max-width: 767.98px) {
  .bd-links>ul {
    padding: 1.5rem .75rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef
  }
}

.bd-links a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none
}

.bd-links a:hover,
.bd-links a:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(121, 82, 179, 0.1)
}

.bd-links .bd-select {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 0.50rem;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none
}

.bd-links .bd-select:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(121, 82, 179, 0.1);
  box-shadow: 0 0 0 1px black
}

.bd-links .active {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85)
}

@media (min-width: 768px) {
  .bd-layout {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 3fr
  }
}

@media (min-width: 992px) {
  .bd-layout {
    grid-template-columns: 1fr 5fr
  }
}

.bd-sidebar {
  grid-area: sidebar
}

.bd-main {
  grid-area: main
}

@media (min-width: 768px) {
  .bd-main {
    display: grid;
    gap: inherit;
    grid-template-rows: auto auto 1fr
  }
}

@media (min-width: 992px) {
  .bd-main {
    grid-template-columns: 5fr;
    grid-template-rows: auto 1fr
  }
}
