<div class="container-fluid">
  <div class="row p-2">
    <div class="col-6 mx-auto">
      angular-checkbox
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6 mx-auto">
      <app-checkbox></app-checkbox>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6 mx-auto">
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6 mx-auto">
    </div>
  </div>
</div>


<div class="container pt-4">
  <div class="col">
    checkbox1 : {{ checkbox1 }}<br>
    checkbox2 : {{ checkbox2 }}<br>
    ngacheckbox1 : {{ ngacheckbox1 }}<br>
    ngacheckbox2 : {{ ngacheckbox2 }}<br>
    ngacheckbox3 : {{ ngacheckbox3 }}<br>
  </div>
  <div class="col">
    <app-checkbox (change)="onChange()" [(ngModel)]="ngacheckbox1"></app-checkbox>
    <app-checkbox (change)="onChange()" [(ngModel)]="ngacheckbox2"></app-checkbox>
    <app-checkbox (change)="onChange()" [(ngModel)]="ngacheckbox3"></app-checkbox>
  </div>
  <div class="col">
    <app-checkbox (click)="onButtonclick($event)" (change)="onChange()"></app-checkbox>
  </div>
  <div class="col">
    <app-checkbox (click)="onButtonclick($event)" (change)="onChange()"></app-checkbox>
  </div>
  <div class="col">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox1" [(ngModel)]="checkbox1">
      <label class="form-check-label" for="checkbox1">
        checkbox1
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checkbox2" [(ngModel)]="checkbox2">
      <label class="form-check-label" for="checkbox2">
        checkbox2
      </label>
    </div>
  </div>
</div>

<router-outlet></router-outlet>