<div class="container py-5">

  <div class="card p-4">
    <div class="row">
      <div class="col-12 col-md-8 text-center mb-4">
        <span class="h4 fw-bold text-primary">Raiders of the lost ark</span>
      </div>
      <div class="col-12 col-md-4 text-center mb-4">
        <div class="btn-group" role="group" aria-label="">
          <div class="btn-group" role="group" aria-label="">
            <button class="btn nga-btn-movie-primary btn-sm nga-btn-movie me-2" type="button">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </button>
            <button class="btn nga-btn-movie-primary btn-sm nga-btn-movie me-2" type="button">
              <i class="fas fa-save" aria-hidden="true"></i>
            </button>
            <button class="btn nga-btn-movie-primary btn-sm nga-btn-movie me-2" type="button">
              <i class="fas fa-copy" aria-hidden="true"></i>
            </button>
            <button class="btn nga-btn-movie-primary btn-sm nga-btn-movie me-2" type="button">
              <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8 mb-2">
          <div class="card p-4">
            <form class="row g-3">
              <div class="col-md-10">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="col-md-2">
                <label for="releaseDate" class="form-label">Release Date</label>
                <input type="text" class="form-control" id="releaseDate">
              </div>
              <div class="col-md-5">
                <label for="youtubeLink" class="form-label text-danger">Youtube</label>
                <div class="input-group">
                  <span class="input-group-text" id="inputGroupPrepend">
                    <a href="https://en.wikipedia.org/wiki/toto"><i class="text-danger fab fa-youtube"></i></a>
                  </span>
                  <input type="text" class="form-control" id="youtubeLink" aria-describedby="inputGroupPrepend"
                    required>
                </div>
              </div>
              <div class="col-md-7">
                <label for="wikipediaLink" class="form-label text-success">Wikipedia</label>
                <div class="input-group">
                  <span class="input-group-text" id="wikipediaLinkGroup">
                    <a href="https://en.wikipedia.org/wiki/toto"><i class="text-success fab fa-wikipedia-w"></i></a>
                  </span>
                  <input type="text" class="form-control" id="wikipediaLink" aria-describedby="inputGroupPrepend"
                    required>
                </div>
              </div>
              <div class="col-md-3">
                <label for="worldwide" class="form-label">Worldwide</label>
                <input type="text" class="form-control" id="worldwide" placeholder="">
              </div>
              <div class="col-md-3">
                <label for="domestic" class="form-label">Domestic</label>
                <input type="text" class="form-control" id="domestic" placeholder="">
              </div>
              <div class="col-md-3">
                <label for="international" class="form-label">International</label>
                <input type="text" class="form-control" id="international" placeholder="">
              </div>
              <div class="col-md-3">
                <label for="budget" class="form-label">Budget</label>
                <input type="text" class="form-control" id="budget" placeholder="">
              </div>
              <div class="col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="movie">
                  <label class="form-check-label" for="movie">
                    Movie
                  </label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="show">
                  <label class="form-check-label" for="show">
                    Show
                  </label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="clip">
                  <label class="form-check-label" for="clip">
                    Clip
                  </label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="game">
                  <label class="form-check-label" for="game">
                    Game
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-2">
          <div class="card p-4 text-center">
            <span class="h4 fw-bold text-primary">qC-MvWdoaX0</span>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="100%" height="240" src="https://www.youtube.com/embed/x_me3xsvDgk" allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!--<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col">

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <h5 class="card-title text-center text-info">FormBuilder</h5>
              <form [formGroup]="exampleForm" class="row g-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" formControlName="name">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="releaseDate" class="form-label">Release Date</label>
                  <input type="text" class="form-control" id="releaseDate" formControlName="releaseDate">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="budget" class="form-label">Budget</label>
                  <input type="text" class="form-control" id="budget" formControlName="budget">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="worldwide" class="form-label">Worldwide</label>
                  <input type="text" class="form-control" id="worldwide" formControlName="worldwide">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <label for="summary" class="form-label">Summary</label>
                  <textarea class="form-control" id="summary" rows="3" id="summary"
                    formControlName="summary"></textarea>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="franchise" formControlName="franchise">
                    <label class="form-check-label" for="franchise">
                      Franchise
                    </label>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <button type="submit" (click)="resetControls()" class="btn btn-primary btn-sm">Reset Controls</button>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <button type="submit" (click)="resetFranchise()" class="btn btn-primary btn-sm">Change
                    Franchise</button>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <button type="submit" (click)="updateControls()" class="btn btn-primary btn-sm">Update
                    Controls</button>
                </div>
              </form>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <h5 class="card-title text-center text-primary">FormBuilder Result</h5>
              <strong>Value with prettyjson</strong>
              <div [innerHTML]="exampleForm.value | prettyjson"></div>
              <strong>Value with json</strong>
              <div [innerHTML]="exampleForm.value | json"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
  <!--  <div class="row">
    <div class="col">
      <div class="card p-4">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <span class="h4 fw-bold text-primary">Raiders of the lost ark</span>
          </div>
          <div class="col d-flex justify-content-end">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group" aria-label="new">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-plus fa-lg"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="save">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save fa-lg"></i></button>
              </div>
              <div class="btn-group me-2" role="group" aria-label="copy">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-copy fa-lg"></i></button>
              </div>
              <div class="btn-group" role="group" aria-label="delete">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-trash-alt fa-lg"></i></button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <form class="row g-3">
          <div class="col-md-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="col-md-2">
            <label for="releaseDate" class="form-label">Release Date</label>
            <input type="text" class="form-control" id="releaseDate">
          </div>
          <div class="col-md-5">
            <label for="youtubeLink" class="form-label">Youtube</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend">
                <a href="https://en.wikipedia.org/wiki/toto"><i class="text-danger fab fa-youtube"></i></a>
              </span>
              <input type="text" class="form-control" id="youtubeLink" aria-describedby="inputGroupPrepend" required>
            </div>
          </div>
          <div class="col-md-5">
            <label for="wikipediaLink" class="form-label">Wikipedia</label>
            <div class="input-group">
              <span class="input-group-text" id="wikipediaLinkGroup">
                <a href="https://en.wikipedia.org/wiki/toto"><i class="text-success fab fa-wikipedia-w"></i></a>
              </span>
              <input type="text" class="form-control" id="wikipediaLink" aria-describedby="inputGroupPrepend" required>
            </div>
          </div>
          <div class="col-md-3">
            <label for="worldwide" class="form-label">Worldwide</label>
            <input type="text" class="form-control" id="worldwide" placeholder="">
          </div>
          <div class="col-md-3">
            <label for="domestic" class="form-label">Domestic</label>
            <input type="text" class="form-control" id="domestic" placeholder="">
          </div>
          <div class="col-md-3">
            <label for="international" class="form-label">International</label>
            <input type="text" class="form-control" id="international" placeholder="">
          </div>
          <div class="col-md-3">
            <label for="budget" class="form-label">Budget</label>
            <input type="text" class="form-control" id="budget" placeholder="">
          </div>
          <div class="col-md-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="movie">
              <label class="form-check-label" for="movie">
                Movie
              </label>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="show">
              <label class="form-check-label" for="show">
                Show
              </label>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="clip">
              <label class="form-check-label" for="clip">
                Clip
              </label>
            </div>
          </div>
          <div class="col-md-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="game">
              <label class="form-check-label" for="game">
                Game
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

  <!--<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col">

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
              <h5 class="card-title text-center text-info">FormBuilder</h5>
              <form [formGroup]="exampleForm" class="row g-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" formControlName="name">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="releaseDate" class="form-label">Release Date</label>
                  <input type="text" class="form-control" id="releaseDate" formControlName="releaseDate">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="budget" class="form-label">Budget</label>
                  <input type="text" class="form-control" id="budget" formControlName="budget">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="worldwide" class="form-label">Worldwide</label>
                  <input type="text" class="form-control" id="worldwide" formControlName="worldwide">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <label for="summary" class="form-label">Summary</label>
                  <textarea class="form-control" id="summary" rows="3" id="summary"
                    formControlName="summary"></textarea>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="franchise" formControlName="franchise">
                    <label class="form-check-label" for="franchise">
                      Franchise
                    </label>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <button type="submit" (click)="resetControls()" class="btn btn-primary btn-sm">Reset Controls</button>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <button type="submit" (click)="resetFranchise()" class="btn btn-primary btn-sm">Change
                    Franchise</button>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                  <button type="submit" (click)="updateControls()" class="btn btn-primary btn-sm">Update
                    Controls</button>
                </div>
              </form>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
              <h5 class="card-title text-center text-primary">FormBuilder Result</h5>
              <strong>Value with prettyjson</strong>
              <div [innerHTML]="exampleForm.value | prettyjson"></div>
              <strong>Value with json</strong>
              <div [innerHTML]="exampleForm.value | json"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->