<div class="modal" tabindex="-1" id="modalForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text </p>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="name" class="form-control" [(ngModel)]="name">
            </div>
            <div style="font-size:22px">
              <strong>input name ngModel</strong>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="description" class="form-control" [(ngModel)]="description">
            </div>
            <div style="font-size:22px">
              <strong>input description ngModel</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel Button</button>
        <button type="button" class="btn btn-success" (click)="onClose()">Save Button</button>
      </div>
    </div>
  </div>
</div>