<div class="modal" tabindex="-1" id="modalForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text </p>
        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="name" class="form-control" [(ngModel)]="name">
            </div>
            <div style="font-size:22px">
              <strong>input name ngModel</strong>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="description" class="form-control" [(ngModel)]="description">
            </div>
            <div style="font-size:22px">
              <strong>input description ngModel</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel Button</button>
        <button type="button" class="btn btn-success" (click)="onClose()">Save Button</button>
        <!--
        <a role="button" class="btn btn-success" (click)="onClose()">OK</a>
        -->
      </div>
    </div>
  </div>
</div>

<!--
<div class="modal fade" tabindex="-1" role="dialog" id="modalForm">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5 pt-0">
        <br>
        <div class="text-center" style="font-size:20px">
          <p>Entrez votre email pour recevoir
          </p>
            <p class="h2-responsive">
              <strong>"Démarrer une Application Web avec Angular CLI 14"
              </strong>
          </p>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
              <div class="md-form">
                <input type="email" id="emailebook" class="form-control" [(ngModel)]="emailebook">
              </div>
              <div class="help-block editerror pb-4" *ngIf="emailerror" style="font-size:22px">
                <strong>Veuillez entrez votre adresse email</strong>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <button class="btn btn-rounded buttonguide" type="button" (click)="close(true)">
                  <span *ngIf="loading===true" class="text-white spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
                <span class="text-white ml-4">Je reçois mon Guide Angular</span>
              </button>
                </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <br>
              <p style="font-size:13px"><strong>Vous pouvez vous désinscrire en 1 clic depuis n'importe lequel de mes
                  emails</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->