<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col">
              <div class="d-flex md-form form-group mt-0">
                <div class="disabled clearfix d-none d-md-block pt-2 ml-4">
                  <i class="{{ icon }} text-primary mr-2"></i>
                  <span class="text-primary font-weight-bold mr-4">{{ titleForm }}</span>
                  <i class="fas fa-database {{ datasourceColor }} mr-2 ml-4 mr-2"></i>
                  <span class="{{ datasourceColor }} ml-2">Datesource : </span>
                  <span class="{{ datasourceColor }} ml-2">{{ datasource }}</span>
                </div>
                <a class="navbar-btn waves-effect waves-light ml-auto px-3 pt-2">
                  <button [disabled]="!api" type="submit" class="btn btn-outline-primary btn-sm mb-2 ml-3"
                    (click)="onCreate()"><i class="fas fa-plus fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onUpdate()"><i
                      class="fas fa-save fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api || item.id==undefined || item.id==null" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onCopy()"><i
                      class="fas fa-copy fa-lg"></i></button>
                  <button [disabled]="form.invalid || !api || item.id==undefined || item.id==null" type="submit"
                    class="btn btn-outline-primary btn-sm mb-2 ml-3" (click)="onDelete()"><i
                      class="fas fa-trash-alt fa-lg"></i></button>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-row">
                <div class="form-group col-md-2">
                  <label for="id" class="text-info">Id</label>
                  <input type="text" formControlName="id" class="text-info form-control" placeholder="" id="id"
                    readonly>
                </div>
                <div class="form-group col-md-6">
                  <label for="name" class="text-primary font-weight-bold">Name</label>
                  <input type="text" formControlName="name" class="text-primary form-control font-weight-bold"
                    placeholder="" id="name">
                  <div *ngIf="name.invalid" class="alert alert-primary mt-2">
                    <div *ngIf="name.errors.required">
                      Name is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-2">
                  <div class="form-check">
                    <input formControlName="capital" class="form-check-input" type="checkbox" id="capital">
                    <label class="form-check-label" for="capital">
                      Capital
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="wikipediaLink" class="text-success">wikipedia</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="wikipediaLinkGroupPrepend">
                        <a href="https://en.wikipedia.org/wiki/{{ form.value.wikipediaLink }}"><i
                            class="text-success fab fa-wikipedia-w"></i></a>
                      </span>
                    </div>
                    <input type="text" formControlName="wikipediaLink" class="text-success form-control" placeholder=""
                      id="wikipediaLink" aria-describedby="wikipediaLinkGroupPrepend">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>