<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mb-4" *ngFor="let item of items">
    <a routerLink="/{{ item.link }}">
      <div class="card bg-light">
        <div class="card-header">
          <div class="row">
            <div class="col-8 col-xl-8">
              <h5 class="card-title">{{ item.caption }}</h5>
            </div>
            <div class="col-2 col-xl-2">
              <i class="{{ item.theme }} fa-lg text-primary"></i>
            </div>
            <div class="col-2 col-xl-2">
              <i class="{{ item.icon }} fa-lg text-primary"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-secondary">{{ item.description }}</p>
        </div>
      </div>
    </a>
  </div>
</div>