<nav aria-label="pagination" *ngIf="pagination.pages && pagination.pages.length">
  <ul class="pagination d-flex justify-content-center pagination-sm">
    <li *ngIf="pagination.browser" class="page-item" [ngClass]="{disabled:pagination.current == 1}">
      <a class="page-link waves-effect waves-effect" (click)="selectPage(1)">&laquo;</a>
    </li>
    <li *ngIf="pagination.browser" class="page-item" [ngClass]="{disabled:pagination.current == 1}">
      <a class="page-link" (click)="selectPage(pagination.current - 1)">&lsaquo;</a>
    </li>
    <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.current == page}">
      <a class="page-link" (click)="selectPage(page)">{{page}}</a>
    </li>
    <li *ngIf="pagination.browser" class="page-item" [ngClass]="{disabled:pagination.current == pagination.total}">
      <a class="page-link" (click)="selectPage(pagination.current + 1)">&rsaquo;</a>
    </li>
    <li *ngIf="pagination.browser" class="page-item" [ngClass]="{disabled:pagination.current == pagination.total}">
      <a class="page-link" (click)="selectPage(pagination.total)">&raquo;</a>
    </li>
  </ul>
</nav>