<div class="row">
  <div class="col-6">
    <div class="card p-4">
      <h5 class="card-title text-center text-primary font-weight-bold">Items Commands</h5>
      <div class="row text-center">
        <div class="col-12">
          <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onRead()">Read</button>
          <button type="button" class="btn btn-primary btn-sm mr-2" (click)="onReset()">Reset</button>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-12 text-center">
          <div *ngIf="!itemsLoaded" class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card p-4">
      <h5 class="card-title">Items List</h5>
      <table class="table table-bordered table-sm table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Director</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i=index" (click)="onSelectItem(item)">
            <th>{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.director }}</td>
            <td>{{ item.date }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Director</th>
            <th>Date</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-6">
    <div *ngIf="item" class="card p-4">
      <h5 class="card-title text-center">Item Form</h5>
      <form>
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" class="form-control" id="id" aria-describedby="id" value="{{item.id}}">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="name" value="{{item.name}}">
        </div>
        <div class="form-group">
          <label for="director">Director</label>
          <input type="text" class="form-control" id="id" aria-describedby="director" value="{{item.director}}">
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" class="form-control" id="date" aria-describedby="date" value="{{item.date}}">
        </div>
      </form>
    </div>
  </div>
</div>