.card-movie-date a {
  color: gray;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.card-movie-date {
  padding: 0.05rem;
  position: relative;
  font-size: 9px;
  border: 0px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: gray;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
}

.card-movie-date a:hover {
  color: black;
  text-decoration: underline;
}

.card-movie-text a {
  color: #3f729b;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.card-movie-text a:hover {
  color: #3f729b;
  text-decoration: underline;
}

.card-movie-text {
  padding: 0.05rem;
  position: relative;
  background-color: transparent;
  border: 0px solid #ddd;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #3f729b;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-movie-img {
  opacity: 1;
}

.card-movie-img:hover {
  opacity: 0.9;
}