<div class="row">
<div *ngFor="let record of items; let i=index" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 px-2 mb-1">
  <div class="row">
    <div class="col-12">
      <div class="card-movie-date">
        <a class="waves-effect" style="cursor: pointer" (click)="selectItem(record['id'])">
          <b>08/12/1932</b>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-movie-img">
        <a (click)="selectItem(record['id'])">
          <img src="{{ record.image }}"
            style="cursor: pointer" class="img-fluid shadow-lg rounded" alt="recordname">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-movie-text">
        <a class="waves-effect" style="cursor: pointer" (click)="selectItem(record['id'])">
          <b style="font-size: 13px;">A Farewell to Arms</b>
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<!--<div class="row">
  <div *ngFor="let record of items; let i=index" class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 px-2 mb-1">
    <div class="row">
      <div class="col-12">
        <div class="card-movie-date">
          <a class="waves-effect" style="cursor: pointer" (click)="selectItem(record['id'])">
            <b>{{ record.releaseDate }}</b>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-movie-img">
          <a (click)="selectItem(record['id'])">
            <img src="{{ record.image }}" style="cursor: pointer" class="img-fluid shadow-lg rounded"
              alt="{{ record.name }}">
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-movie-text">
          <a class="waves-effect" style="cursor: pointer" (click)="selectItem(record['id'])">
            <b style="font-size: 13px;">{{ record.name }}</b>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>-->


