<app-search-bar [searchField]="searchField" [itemsCount]="itemsCount" [icon]="icon" [results]="results"
  [placeholder]="placeholder" (search)="onSearch($event)"></app-search-bar>

<div class="row" *ngIf="loaded && itemsCount===0">
  <div class="col">
    <app-search-result [searchField]="searchField" [found]="found" [creation]="creation" [link]="link"></app-search-result>
  </div>
</div>

<div class="row" *ngIf="loaded && itemsCount!==0">
  <div class="col mt-4">

    <app-pagination [count]="itemsCount" [page]="itemsPage" [perPage]="itemsPerPage"
      (changePage)="onChangePage($event)">
    </app-pagination>

    <app-grid [items]="items" [columns]="columns" [link]="link"></app-grid>

  </div>
</div>