<div class="container-fluid">

  <div class="row p-2">
    <div class="col-6 mx-auto">
      angular-table
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6 mx-auto">
      dataTable : {{ dataTable | json }}<br>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6 mx-auto">
      <button type="button" class="btn btn-primary" (click)="showTable()">showTable</button>
    </div>
  </div>

  <div class="row p-2">
    <div class="col-6 mx-auto">
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Enabled</th>
            <th>Checked</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataTable; let i=index">
            <td>
              <input type="text" class="form-control form-control-sm" id="id-{{i}}" name="id-{{i}}"
                [(ngModel)]="item.id" (ngModelChange)="onChange($event)">
            </td>
            <td>
              <input type="text" class="form-control form-control-sm" id="title-{{i}}" name="title-{{i}}"
                [(ngModel)]="item.title" (ngModelChange)="onChange($event)">
            </td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="enabled-{{i}}" name="enabled-{{i}}"
                  [(ngModel)]="item.enabled" (ngModelChange)="onChange($event)">
              </div>
            </td>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checked-{{i}}" name="checked-{{i}}"
                  [(ngModel)]="item.checked" (ngModelChange)="onChange($event)">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

<router-outlet></router-outlet><router-outlet></router-outlet>