.nga-footer {
  background-color: #212121;
  color: white;
}

.nga-footer a {
  color: white;
  text-decoration: none
}

.nga-footer a:hover,
.nga-footer a:focus {
  color: yellow;
  text-decoration: underline;
}

.nga-footer .hint {
  background-color: #1976d2;
}

.nga-footer .hint:hover {
  opacity: 0.8;
}

.nga-btn-social {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px
}

.nga-btn-social i {
  font-size: 1.25rem;
  line-height: 47px
}

.nga-btn-social i {
  display: inline-block;
  width: inherit;
  color: white;
  text-align: center
}

.nga-btn-social:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.nga-btn-social i:hover {
  color: black;
}

.nga-btn-github {
  background-color: #333;
}

.nga-btn-gitlab {
  background-color: #ff4500;
}


.nga-btn-linkedin {
  background-color: #0082ca;
}

.nga-btn-twitter {
  background-color: #55acee;
}