<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

  <servlet>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>com.example.PersonServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/persons</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>
